.profile {
  margin-top: 80px; }
  .profile__title span {
    font-size: 26px;
    font-weight: bold;
    padding: 15px 0;
    display: block; }
  .profile__container {
    min-height: 810px;
    background-color: #fff; }
    .profile__container .profile_tabs {
      width: 16.6%;
      background-color: #e8e8e8;
      min-height: 810px;
      float: left;
      font-size: 14px; }
      .profile__container .profile_tabs > div {
        height: 120px;
        border: 1px solid #cecfd0;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        cursor: pointer; }
        .profile__container .profile_tabs > div.tab-active {
          background-color: #fff;
          border: none;
          -webkit-border-radius: 3px;
          border-radius: 3px; }
      .profile__container .profile_tabs .tab_setting {
        padding-top: 30px;
        text-align: center; }
        .profile__container .profile_tabs .tab_setting .tabs__icon_set {
          background-image: url(../img/settings.png);
          height: 42px;
          width: 42px;
          margin: 0 auto; }
      .profile__container .profile_tabs .tab_password {
        padding-top: 30px;
        text-align: center; }
        .profile__container .profile_tabs .tab_password .tabs__icon_pass {
          background-image: url(../img/password.png);
          height: 33px;
          width: 33px;
          margin: 0 auto;
          margin-bottom: 9px; }
      .profile__container .profile_tabs .tab_massege {
        padding-top: 30px;
        text-align: center; }
        .profile__container .profile_tabs .tab_massege .tabs__icon_mas {
          background-image: url(../img/bell.png);
          height: 38px;
          width: 28px;
          margin: 0 auto;
          margin-bottom: 4px; }
      .profile__container .profile_tabs .tab-active .tabs__icon_mas {
        background-image: url(../img/bell_blue.png); }
      .profile__container .profile_tabs .tab-active .tabs__icon_pass {
        background-image: url(../img/password_blue.png); }
      .profile__container .profile_tabs .tab-active .tabs__icon_set {
        background-image: url(../img/settings_blue.png); }
    .profile__container .profile_page {
      float: left;
      padding: 55px;
      width: 83.4%;
      padding-left: 80px; }
      .profile__container .profile_page .page_setting {
        display: none;
        width: 100%; }
        .profile__container .profile_page .page_setting .profile__avatar {
          min-width: 310px;
          min-height: 155px;
          float: left;
          margin-right: 50px; }
          .profile__container .profile_page .page_setting .profile__avatar .ava_foto {
            width: 160px;
            height: 160px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            overflow: hidden;
            float: left;
            margin-left: -15px;
            margin-right: 15px; }
          .profile__container .profile_page .page_setting .profile__avatar .ava_upLoad {
            margin-top: 25px; }
            .profile__container .profile_page .page_setting .profile__avatar .ava_upLoad .inputfile {
              width: 0.1px;
              height: 0.1px;
              opacity: 0;
              overflow: hidden;
              position: absolute;
              z-index: -1; }
            .profile__container .profile_page .page_setting .profile__avatar .ava_upLoad .inputfile + label {
              font-size: 1em;
              font-weight: 700;
              color: #0580fb;
              display: inline-block;
              border: 2px solid #0580fb;
              -webkit-border-radius: 20px;
              border-radius: 20px;
              padding: 3px 15px; }
            .profile__container .profile_page .page_setting .profile__avatar .ava_upLoad .inputfile:focus + label,
            .profile__container .profile_page .page_setting .profile__avatar .ava_upLoad .inputfile + label:hover {
              background-color: #0580fb;
              color: #fff; }
        .profile__container .profile_page .page_setting .profile__form p {
          font-weight: bold; }
        .profile__container .profile_page .page_setting .profile__form input[type=text], .profile__container .profile_page .page_setting .profile__form [type=date] {
          min-width: 305px;
          height: 40px;
          margin-bottom: 25px;
          position: relative;
          padding: 0 10px; }
        .profile__container .profile_page .page_setting .profile__form .form-name {
          float: left;
          position: relative; }
        .profile__container .profile_page .page_setting .profile__form .form-date {
          float: left;
          position: relative; }
          .profile__container .profile_page .page_setting .profile__form .form-date .datepicker-here {
            background: url("../img/cal.png") 100% 50% no-repeat;
            padding-right: 20px;
            cursor: pointer;
            border: 1px solid #a9a9a9;
            border-width: 1px; }
        .profile__container .profile_page .page_setting .profile__form .form-contact {
          float: left;
          margin-right: 55px;
          position: relative; }
        .profile__container .profile_page .page_setting .profile__form .form-check {
          float: left;
          width: 100%;
          margin-bottom: 25px; }
          .profile__container .profile_page .page_setting .profile__form .form-check input[type=radio] {
            width: 20px;
            height: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            border: 5px solid #c3c6c9;
            -webkit-transition: 0.2s all linear;
            -o-transition: 0.2s all linear;
            -moz-transition: 0.2s all linear;
            transition: 0.2s all linear;
            outline: none;
            margin-right: 5px;
            position: relative;
            top: 2px; }
            .profile__container .profile_page .page_setting .profile__form .form-check input[type=radio]:checked {
              background-color: #0580fb; }
          .profile__container .profile_page .page_setting .profile__form .form-check label {
            margin-right: 45px; }
        .profile__container .profile_page .page_setting .profile__form .form-text {
          width: 100%;
          float: left; }
          .profile__container .profile_page .page_setting .profile__form .form-text textarea {
            width: 100%;
            max-width: 665px;
            min-height: 140px;
            padding: 15px; }
        .profile__container .profile_page .page_setting .profile__form .form-btn {
          float: left;
          width: 100%;
          max-width: 665px;
          min-width: 250px;
          text-align: right;
          margin-top: 10px;
          padding-bottom: 20px; }
          .profile__container .profile_page .page_setting .profile__form .form-btn input {
            width: 200px;
            background-color: #0580fb;
            color: #fff;
            -webkit-border-radius: 20px;
            border-radius: 20px;
            height: 35px;
            border: none; }
        .profile__container .profile_page .page_setting.active {
          display: block; }
      .profile__container .profile_page .page_password {
        display: none; }
        .profile__container .profile_page .page_password .page_password_title {
          border-bottom: 1px solid #cbcaca;
          max-width: 305px;
          margin-bottom: 20px;
          padding-bottom: 4px; }
        .profile__container .profile_page .page_password p {
          font-weight: bold;
          font-size: 17px; }
        .profile__container .profile_page .page_password input[type=text] {
          min-width: 305px;
          height: 40px;
          margin-bottom: 25px;
          position: relative;
          padding: 0 10px;
          display: block;
          margin-top: 5px; }
        .profile__container .profile_page .page_password .form-btn {
          float: left;
          width: 100%;
          max-width: 665px;
          min-width: 250px;
          margin-top: 10px; }
          .profile__container .profile_page .page_password .form-btn input {
            width: 200px;
            background-color: #0580fb;
            color: #fff;
            -webkit-border-radius: 20px;
            border-radius: 20px;
            height: 35px;
            border: none; }
        .profile__container .profile_page .page_password.active {
          display: block; }
      .profile__container .profile_page .page_massege {
        display: none; }
        .profile__container .profile_page .page_massege #form-Notification .page_Notification_title {
          border-bottom: 1px solid #cbcaca;
          max-width: 420px;
          margin-bottom: 20px;
          padding-bottom: 4px; }
        .profile__container .profile_page .page_massege #form-Notification p {
          font-weight: bold;
          font-size: 17px; }
        .profile__container .profile_page .page_massege #form-Notification .check_row {
          max-width: 420px;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -moz-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
        .profile__container .profile_page .page_massege #form-Notification .check {
          display: inline-block;
          float: right;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 13px 0; }
          .profile__container .profile_page .page_massege #form-Notification .check input {
            margin-left: 20px;
            margin-right: 10px;
            display: none; }
            .profile__container .profile_page .page_massege #form-Notification .check input + span:before {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              content: '';
              display: inline-block;
              width: 20px;
              height: 20px;
              border: 1px solid #cbcaca;
              margin-right: 10px;
              position: relative;
              top: 3px; }
            .profile__container .profile_page .page_massege #form-Notification .check input:checked + span:before {
              background: #0f8ff6;
              border: 5px solid #cbcaca; }
          .profile__container .profile_page .page_massege #form-Notification .check label {
            margin-left: 20px; }
        .profile__container .profile_page .page_massege #form-Notification p {
          display: inline-block; }
        .profile__container .profile_page .page_massege.active {
          display: block; }
        .profile__container .profile_page .page_massege .form-btn {
          float: left;
          width: 100%;
          max-width: 665px;
          min-width: 250px;
          margin-top: 10px; }
          .profile__container .profile_page .page_massege .form-btn input {
            width: 200px;
            background-color: #0580fb;
            color: #fff;
            -webkit-border-radius: 20px;
            border-radius: 20px;
            height: 35px;
            border: none; }

input.error {
  border: 1px solid #ff0000 !important; }

label.error {
  color: #ff0000;
  font-weight: normal; }

#name-error {
  position: absolute;
  top: 1px;
  left: 90px;
  font-size: 12px;
  font-weight: bold; }

#lastname-error {
  position: absolute;
  top: 89px;
  left: 90px;
  font-size: 12px;
  font-weight: bold; }

#Email-error {
  position: absolute;
  top: 1px;
  left: 80px;
  font-size: 12px;
  font-weight: bold; }

#phone-error {
  position: absolute;
  top: 89px;
  left: 80px;
  font-size: 12px;
  font-weight: bold; }

#date-error {
  position: absolute;
  top: -15px;
  left: 130px;
  font-size: 12px;
  font-weight: bold; }

#skype-error {
  position: absolute;
  top: 89px;
  left: 80px;
  font-size: 12px;
  font-weight: bold;
  color: #0580fb; }
