.wrapper
	.row.clearfix
		.exercise-test
			.exercise-top.clearfix
				.title-exercise-test
					|Упражнение
				a(href='#')
					.exit
			.exercise-test__info.clearfix
				.info-level.col-f-4x
					| Уровень:  Трудный
				.info-level.col-f-2x
					| Жануарлар / Жуан жане жинишке дыбыстар
				.info-level.col-f-4x
					| Баллы: 
					span 8 / 12
			.exercise-test__body
				.container.clearfix
					.video.col-l-2x
						<video id="demo1" controls="controls" height="360" poster="website/images/tos-poster.jpg" preload="metadata" aria-describedby="full-descript">
							<source type="video/webm" src="https://acornmedia.herokuapp.com/media/tears_of_steel_480.webm" />
							<source type="video/mp4" src="https://acornmedia.herokuapp.com/media/tears_of_steel_480.mp4" />
						</video>
					.exercise-test-text.col-l-2x
						| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
				form
					.exercise-test-test.clearfix
						.title-test
							| 1. Дурыс курастырылган сойлемди танданыз
						.box-test
							.box-test-play
								input(type="radio"  value="test1" id="test1" name="test")
								label(for="test1")
									span Казахстаннын астанасы - Алматы
							.box-test-play
								input(type="radio"  value="test2" id="test2" name="test")
								label(for="test2")
									span Казахстаннын астанасы - Алматы
							.box-test-play
								input(type="radio"  value="test3" id="test3" name="test-2")
								label(for="test3")
									span Казахстаннын астанасы - Алматы
							.box-test-play
								input(type="radio"  value="test4" id="test4" name="test-2")
								label(for="test4")
									span Казахстаннын астанасы - Алматы
							.box-test-play
								input(type="radio"  value="test5" id="test5" name="test-3")
								label(for="test5")
									span Казахстаннын астанасы - Алматы
							.box-test-play
								input(type="radio"  value="test6" id="test6" name="test-3")
								label(for="test6")
									span Казахстаннын астанасы - Алматы
					.test-footer.clearfix
						.col-m-2x.col-f-5x.col-l-10x
							.like-cont
								.like
								span Правильно
						.col-m-2x.col-f-5x.col-l-3x
							.test-namber
								| 1/12
						.col-f-35x.col-l-5x-r
							.btn_blue
								a(href="#") Пройти 
						.col-f-35x.col-l-5x-r
							.btn_white
								a(href="#") Далее
									i.fa.fa-long-arrow-right(aria-hidden="true")
