.header
	.wrapper
		nav(role="navigation")
			div(id="menuToggle")
				input(type="checkbox")
				span
				span
				span
				ul(id="menu")
					a(href="#")
						li Лента 
					a.active(href="#")
						li Уроки 
					a(href="#")
						li Преподаватели
					a(href="#")
						li Упражнения
					a(href="#")
						li FQA
		.header__logo
			img(src='img/logo.png')
		
		.header__menu
			ul
				a(href="#")
					li Лента 
				a.active(href="#")
					li Уроки 
				a(href="#")
					li Преподаватели
				a(href="#")
					li Упражнения
				a(href="#")
					li FQA
		.header__user
			.users__name
				span Салам, Ольга!	
			.users__foto
				img(src='img/user_foto.png')
			.users__select
				i.fa.fa-caret-down(aria-hidden="true")
//.icon
//			.burger