.lesson
	.wrapper
		.row
			.lessons-info
				i.fa.fa-star
				i.fa.fa-star-o
				i.fa.fa-star-o
				| 1 деңгей 
			.container.clearfix
				.col-l-4x.col-t-3x.col-f-2x
					.lessons
						.lessons__check
							i.fa.fa-check
						.lessons__number
							| 1
						.lessons__icon
						.lessons__title
							| Жануалар
						.lessons__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons__arrow-left
						.lessons__arrow-right
						.lessons__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons
						.lessons__check
							i.fa.fa-check
						.lessons__number
							| 2
						.lessons__icon
						.lessons__title
							| Жануалар
						.lessons__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons__arrow-left
						.lessons__arrow-right
						.lessons__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons
						.lessons__check
							i.fa.fa-check
						.lessons__number
							| 3
						.lessons__icon
						.lessons__title
							| Жануалар
						.lessons__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons__arrow-left
						.lessons__arrow-right
						.lessons__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons
						.lessons__check
							i.fa.fa-check
						.lessons__number
							| 4
						.lessons__icon
						.lessons__title
							| Жануалар
						.lessons__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons__arrow-left
						.lessons__arrow-right
						.lessons__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons
						.lessons__check
							i.fa.fa-check
						.lessons__number
							| 5
						.lessons__icon
						.lessons__title
							| Жануалар
						.lessons__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons__arrow-left
						.lessons__arrow-right
						.lessons__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons
						.lessons__check
							i.fa.fa-check
						.lessons__number
							| 6
						.lessons__icon
						.lessons__title
							| Жануалар
						.lessons__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons__arrow-left
						.lessons__arrow-right
						.lessons__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons
						.lessons__check
							i.fa.fa-check
						.lessons__number
							| 7
						.lessons__icon
						.lessons__title
							| Жануалар
						.lessons__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons__arrow-left
						.lessons__arrow-right
						.lessons__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons
						.lessons__check
							i.fa.fa-check
						.lessons__number
							| 8
						.lessons__icon
						.lessons__title
							| Жануалар
						.lessons__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons__arrow-left
						.lessons__arrow-right
						.lessons__page
							| 1/3
			.lessons-info
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star-o
				| 2 деңгей 
			.container.clearfix
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 1
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 2
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 3
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 4
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 5
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 6
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 7
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 8
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
			.lessons-info
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				| 3 деңгей 
			.container.clearfix
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 1
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 2
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 3
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 4
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 5
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 6
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 7
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3
				.col-l-4x.col-t-3x.col-f-2x
					.lessons-gray
						.lessons-gray__lock
							i.fa.fa-lock
						.lessons-gray__number
							| 8
						.lessons-gray__icon
						.lessons-gray__title
							| Жануалар
						.lessons-gray__text
							|Өткен сабақты қайталау(15 мин):
							i.fa.fa-check
								span Оқушылармен амандасу, қал-жағдайларын сұрау. Оқушылар өзара қысқа диалог құру керек.
							i.fa.fa-check
								span Өткен сөздрді ретсіз сұрау (зат есімдер, етістіктер, үстеулер).
							i.fa.fa-check 
								span Өзі туралы айту;
						.lessons-gray__arrow-left
						.lessons-gray__arrow-right
						.lessons-gray__page
							| 1/3