.wrapper
	.payment-info.clearfix
		.payment-title
			|Оплата
		.payment-lesson
			span У вас осталось занятий:
			.lesson-score
				| 0
	.payment
		.payment__text
			span С помощью платёжных систем, с которыми работает школа QLang, вы можете быстро и удобно оплатить занятия, не выходя из дома. Достаточно выбрать количество занятий, которое вы хотите оплатить, а в появившемся меню указать способ оплаты, который вам больше всего нравится.
		.row.clearfix
			.clear-tab
				.col-l-5x.col-t-3x.col-f-2x
					.payment__defrayal
						.defrayal-title
							|4 занятия
						.defrayal-text
							|2000 
							span тенге/урок
						.btn_white
							a(href="#") 
								.icon-card
								span 8000 тенге
				.col-l-5x.col-t-3x.col-f-2x
					.payment__defrayal
						.defrayal-title
							|8 занятия
						.defrayal-text
							|1800
							span тенге/урок
							.defrayal-sale
								| 10% скидка
						.btn_white
							a(href="#") 
								.icon-card
								span 14400 тенге
				.col-l-5x.col-t-3x.col-f-2x
					.payment__defrayal
						.defrayal-title
							|16 занятия
						.defrayal-text
							|1700
							span тенге/урок
							.defrayal-sale
								| 15% скидка
						.btn_white
							a(href="#") 
								.icon-card
								span 27200 тенге
				.col-l-5x.col-t-2x.col-f-2x
					.payment__defrayal
						.defrayal-title
							|32 занятия
						.defrayal-text
							|1500 
							span тенге/урок
							.defrayal-sale
								| 25% скидка
						.btn_white
							a(href="#") 
								.icon-card
								span 48000 тенге
			.col-l-5x.col-t-2x.col-t-center
				.payment__defrayal
					.defrayal-title
						|64 занятия
					.defrayal-text
						|1200
						span тенге/урок
						.defrayal-sale
							| 40% скидка
					.btn_white
						a(href="#") 
							.icon-card
							span 76000 тенге
		.payment__info
			| Выберите нужный пакет или выберите количество уроков самостоятельно.
		.payment__counter
			span Количество уроков:
			.counter
				.min
					i.fa.fa-minus
				.res
					|8
				.plus
					i.fa.fa-plus
		.payment__cost
			.cost
				.cost__title.cost-display
					|Стоимость:
					span 14400 тенге
				.cost__title
					|Скидка 10%
				.cost__title
					|1800 тенге/урок
			.btn_orange
				a(href="#") 
					.icon-card2
					span Оплатить
		.payment__method
			.method-title
				|Выберите способ оплаты
			.row.clearfix
				.clear-fab
					.col-l-3x.col-t-2x.col-f-2x
						.method
							.method__title
								|Банковская карта
								span (Visa/MasterCard)
							.method__icon1
					.col-l-3x.col-t-2x.col-f-2x
						.method
							.method__title
								|Qiwi Checkout
							.method__icon2
				.col-l-3x
					.method.col-f-center
						.method__title
							|Wallet one
						.method__icon3