.teachers__search.clearfix
		.wrapper
			.search
				i.fa.fa-search(aria-hidden="true")
				input(type="text"  placeholder="Я ищу ...")
				.btn_search
					|Найти
			.select
				span Сортировать по:
				select
					option Стаж преподавания
					option Стаж преподавания