doctype
html(lang=ru)
	head
		include ./parts/head
	body
		include ./parts/header
		include ./parts/lessons
		include ./parts/footer
		<video id="demo1" controls="controls" width="826" height="360" poster="website/images/tos-poster.jpg" preload="metadata" aria-describedby="full-descript">
			<source type="video/webm" src="https://acornmedia.herokuapp.com/media/tears_of_steel_480.webm" />
			<source type="video/mp4" src="https://acornmedia.herokuapp.com/media/tears_of_steel_480.mp4" />
		</video>